.homepage-container {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Optional background color for visual clarity */
}

.homepage-content {
  text-align: center;
}

.homepage-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.homepage-content p {
  font-size: 1.2rem;
}
